
.navcontainer{
    list-style: none;
    width: 100vw;
    min-height: 80px;
    background: linear-gradient(to right, #d7ccc8, #a1887f);
    

    
}
.container{
    height:100vh;
    width:100vw;
    overflow-x:hidden;
    /* background-image: linear-gradient(to right, #91695a, #a1887f); */
     background: linear-gradient(to right, #ffccbc, #ffe0b2);

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#name{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 2px rgba(234, 231, 231, 0.3);
    color: #6D4C41;
    margin: 4px;
}
#navlist{
    display: flex;
    justify-content: space-between;
}
#navlist2{
    list-style: none;
    margin:8px;
    display: flex;
    gap: 15px;
    padding-right: 10px;
}
a{
    text-decoration: none;
}
.item1{
    
    margin :4px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 30px;
}

.item2{
    
    margin :4px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 30px;

}

.img1 img:hover,
.img2 img:hover,
.img3 img:hover,
.img4 img:hover
 {
    transform: scale(1.01) translateY(-5px);
    box-shadow: 0 10px 30px rgba(255, 140, 0, 0.4);
}
.item3{
    
    margin :4px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 30px;
}    
.item4{
    
    margin :4px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 30px;
} 

.item1 ul, .item2 ul, .item3 ul, .item4 ul {
  list-style: disc;
  padding-left: 20px;
}

.img1, .img2, .img3, .img4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500px; /* or whatever size looks good */
  margin: auto;
  position: relative;
  border-radius: 10px;


}
.img1 img, .img2 img, .img3 img, .img4 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 30px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.img1, .img2, .img3, .img4 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.img1:hover .overlay,
.img2:hover .overlay,
.img3:hover .overlay,
.img4:hover .overlay {
  opacity: 1;
}








